---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.artist | escape }}
          </a>
        </h3>
        <h4 class="title">
          {{ post.title | escape }}
        </h4>

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <span class="meta-home">{{ post.date | date: date_format }}</span>
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
